/**
 * @file
 * CSS for the API module.
 */

/* PHP code */
.php {
  overflow: auto;
  white-space: pre-wrap;
}
.php .php-comment {
  color: #666;
}
.php .php-function-or-constant {
  color: #00a;
}
.php .php-function-or-constant .local,
.php .php-variable .local {
  color: #00a;
  font-weight: bold;
}
.php .php-function-or-constant .php-manual {
  color: #048;
  font-weight: bold;
}
.php .php-variable {
  color: #330;
}
.php .php-string {
  color: #a00;
}
.php .php-constant {
  color: #a33;
}
.php .php-keyword {
  color: #060;
}

ol.code-lines {
  margin: 0 0 0 20px;
  padding: 0;
}

ol.code-lines li {
  margin: 0 0 0 20px;
  padding: 0 0 0 5px;
}

/* Search form */

form.api-search-form .form-item {
  display: inline;
}

form.api-search-form .api-search-keywords {
  width: 100%;
}

/* Other styles */

.api-defined {
  color: #9d9d93;
  font-size: 0.8333em;
}

.api-inheritance-source {
  float: right;
}

ol.api-alternatives,
ol.api-alternatives li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.api-deprecated {
  background-color: #ffecd8;
}
